# write a program to reverse the given tuple (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)

# write a program to access value 58 from above tuple

# write a program to counts the number of occurences of item 55 from the above tuple

# write a program to return values 49 and 57 from the above tuple

In [4]:
numb1 = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
numb1.reverse()
print(numb1)

AttributeError: 'tuple' object has no attribute 'reverse'

In [5]:
print(numb1[9])

58

In [6]:
print(numb1.count(55))

5

In [7]:
numb1.return(49,57)
print(numb1)

SyntaxError: invalid syntax (<ipython-input-7-ac628113fe2c>, line 1)

In [ ]:
# LIST

In [10]:
numb=[46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]
numb.reverse()
print(numb)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [11]:
numb.pop(9)

55

In [12]:
print(len(numb))

20

In [13]:
print(numb.count(51))

2

In [15]:
print(numb[14],numb[7])

45 57

In [16]:
numb.insert(14,int(69))
print(numb)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 50, 58, 51, 51, 49, 69, 45, 55, 48, 45, 53, 46]

In [20]:
numb2 = [89,85,36,95,45,78]
numb.extend(numb2)
print(numb)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 69, 49, 45, 55, 48, 45, 53, 46, 89, 85, 36, 95, 45, 78]

In [ ]:
# DICTIONARY
# Write a Python program to create a new dictionary
# having 10 football club names as the key with each key holding the following values
# (location,managersname,clubcaptain,networth,clubformation)

In [30]:
c1={"name":"Arsenal","Location":"London", "Manager Name":"Arteta","Club Captain":"Giroud","Net Worth":"$100 Billion","Formation": "4:4:2"}
c2={"name":"Man City","Location":"Manchester", "Manager Name":"Guardiolla","Club Captain":"Aguero","Net Worth":"$150 Billion","Formation": "4:1:3:2"}
c3={"name":"Man United","Location":"Manchester", "Manager Name":"ole","Club Captain":"Ronaldo","Net Worth":"$500 Billion","Formation": "4:4:2"}
c4={"name":"Liverpool","Location":"Liverpool", "Manager Name":"Enrique","Club Captain":"Sallah","Net Worth":"$300 Billion","Formation": "4:4:2"}
c5={"name":"Chelsea","Location":"Cenral London", "Manager Name":"Tuchel","Club Captain":"Drogba","Net Worth":"$400 Billion","Formation": "4:3:3"}
c6={"name":"Bolton FC","Location":"East London", "Manager Name":"Orlando","Club Captain":"Yakubu","Net Worth":"$200 Billion","Formation": "4:4:2"}
c7={"name":"Barcelona FC","Location":"Spain", "Manager Name":"Iniesta","Club Captain":"Pique","Net Worth":"$700 Billion","Formation": "4:1:3:2"}
c8={"name":"Real Madrid FC","Location":"Madrid", "Manager Name":"Anceloti","Club Captain":"Benzema","Net Worth":"$900 Billion","Formation": "4:4:2"}
c9={"name":"PSG FC","Location":"France", "Manager Name":"Mourinho","Club Captain":"Messi","Net Worth":"$750 Billion","Formation": "4:4:2"}
c10={"name":"Kano Pillars","Location":"Kano", "Manager Name":"Coach Aminu","Club Captain":"Ahmed Musa","Net Worth":"$1 Billion","Formation": "4:3:2:1"}
clubs =  {1:c1,2:c2,3:c3,4:c4,5:c5,6:c6,7:c7,8:c8,9:c9,10:c10}
print(clubs)

{1: {'name': 'Arsenal', 'Location': 'London', 'Manager Name': 'Arteta', 'Club Captain': 'Giroud', 'Net Worth': '$100 Billion', 'Formation': '4:4:2'}, 2: {'name': 'Man City', 'Location': 'Manchester', 'Manager Name': 'Guardiolla', 'Club Captain': 'Aguero', 'Net Worth': '$150 Billion', 'Formation': '4:1:3:2'}, 3: {'name': 'Man United', 'Location': 'Manchester', 'Manager Name': 'ole', 'Club Captain': 'Ronaldo', 'Net Worth': '$500 Billion', 'Formation': '4:4:2'}, 4: {'name': 'Liverpool', 'Location': 'Liverpool', 'Manager Name': 'Enrique', 'Club Captain': 'Sallah', 'Net Worth': '$300 Billion', 'Formation': '4:4:2'}, 5: {'name': 'Chelsea', 'Location': 'Cenral London', 'Manager Name': 'Tuchel', 'Club Captain': 'Drogba', 'Net Worth': '$400 Billion', 'Formation': '4:3:3'}, 6: {'name': 'Bolton FC', 'Location': 'East London', 'Manager Name': 'Orlando', 'Club Captain': 'Yakubu', 'Net Worth': '$200 Billion', 'Formation': '4:4:2'}, 7: {'name': 'Barcelona FC', 'Location': 'Spain', 'Manager Name': 'Iniesta', 'Club Captain': 'Pique', 'Net Worth': '$700 Billion', 'Formation': '4:1:3:2'}, 8: {'name': 'Real Madrid FC', 'Location': 'Madrid', 'Manager Name': 'Anceloti', 'Club Captain': 'Benzema', 'Net Worth': '$900 Billion', 'Formation': '4:4:2'}, 9: {'name': 'PSG FC', 'Location': 'France', 'Manager Name': 'Mourinho', 'Club Captain': 'Messi', 'Net Worth': '$750 Billion', 'Formation': '4:4:2'}, 10: {'name': 'Kano Pillars', 'Location': 'Kano', 'Manager Name': 'Coach Aminu', 'Club Captain': 'Ahmed Musa', 'Net Worth': '$1 Billion', 'Formation': '4:3:2:1'}}

In [31]:
print(clubs[8])

{'name': 'Real Madrid FC', 'Location': 'Madrid', 'Manager Name': 'Anceloti', 'Club Captain': 'Benzema', 'Net Worth': '$900 Billion', 'Formation': '4:4:2'}

In [32]:
print(clubs[5])

{'name': 'Chelsea', 'Location': 'Cenral London', 'Manager Name': 'Tuchel', 'Club Captain': 'Drogba', 'Net Worth': '$400 Billion', 'Formation': '4:3:3'}

In [33]:
print(clubs[6] , clubs[3])

{'name': 'Bolton FC', 'Location': 'East London', 'Manager Name': 'Orlando', 'Club Captain': 'Yakubu', 'Net Worth': '$200 Billion', 'Formation': '4:4:2'} {'name': 'Man United', 'Location': 'Manchester', 'Manager Name': 'ole', 'Club Captain': 'Ronaldo', 'Net Worth': '$500 Billion', 'Formation': '4:4:2'}