In [4]:
import pymysql

In [11]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Khairat#1'
)
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
    print(x)

('earlycodestore',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [13]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Khairat#1',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)

('adult_wears',)
('bodyperformance',)
('clothings',)
('clothingtable',)
('dairyproducts',)
('furnitures',)
('grouparecords',)
('groupbrecords',)
('groupcrecords',)
('groupdrecords',)
('grouperecords',)
('phones',)
('studentsperformance',)

In [16]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Khairat#1',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(gender) FROM studentsperformance WHERE gender = "male"')
for x in mycursor:
    print(x)

(482,)

In [17]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Khairat#1',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(*) FROM studentsperformance WHERE mathscore >= 75')
for x in mycursor:
    print(x)

(295,)

In [18]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Khairat#1',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(DISTINCT mathscore) FROM studentsperformance ')
for x in mycursor:
    print(x)

(81,)

In [19]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Khairat#1',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT SUM(mathscore) FROM studentsperformance ')
for x in mycursor:
    print(x)

(Decimal('66089'),)

In [23]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Khairat#1',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT MAX(mathscore) AS "RESULT" FROM studentsperformance WHERE raceethnicity = "group C"')
for x in mycursor:
    print(x)

(98,)

In [24]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Khairat#1',
    database = 'earlycodestore'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT MIN(mathscore) AS "RESULT" FROM studentsperformance WHERE raceethnicity = "group C"')
for x in mycursor:
    print(x)

(0,)

In [25]:
mycursor = mydb.cursor()
mycursor.execute('SELECT AVG(mathscore) AS "RESULT" FROM studentsperformance WHERE raceethnicity = "group C"')
for x in mycursor:
    print(x)

(Decimal('64.4639'),)

In [26]:
mycursor = mydb.cursor()
mycursor.execute('SELECT readingscore FROM studentsperformance LIMIT 3')
for x in mycursor:
    print(x)

(72,)
(90,)
(95,)

In [29]:
mycursor = mydb.cursor()
mycursor.execute('SELECT * FROM studentsperformance LIMIT 3')
for x in mycursor:
    print(x)

(1, 'female', 'group B', "bachelor's degree", 'standard', 'none', 72, 72, 74)
(2, 'female', 'group C', 'some college', 'standard', 'completed', 69, 90, 88)
(3, 'female', 'group B', "master's degree", 'standard', 'none', 90, 95, 93)

In [28]:
mycursor = mydb.cursor()
mycursor.execute('ALTER TABLE studentsperformance ADD COLUMN ID INT PRIMARY KEY NOT NULL AUTO_INCREMENT FIRST')
mydb.commit()

In [30]:
mycursor = mydb.cursor()
mycursor.execute('SELECT * FROM studentsperformance ORDER BY ID DESC LIMIT 3')
for x in mycursor:
    print(x)

(1000, 'female', 'group D', 'some college', 'free/reduced', 'none', 77, 86, 86)
(999, 'female', 'group D', 'some college', 'standard', 'completed', 68, 78, 77)
(998, 'female', 'group C', 'high school', 'free/reduced', 'completed', 59, 71, 65)