In [1]:
num1 = int(12.5)
print(num1)

12

In [4]:
print(str(num1))

458

In [5]:
name = '85'
print (float(name))

85.0

In [1]:
name = input('please provide your name:')
print(name)

please provide your name:olayemi
olayemi

In [1]:
age = int(input('please provide your age:'))

please provide your age:39

# Arithmetic Operators

# +,-,/,*,%,//,**

In [13]:
num1 = 40
num2 = 20
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ** {num2} = {num1 ** num2}')

40 + 20 = 60
40 - 20 = 20
40 / 20 = 2.0
40 * 20 = 800
40 % 20 = 0
40 // 20 = 2
40 ** 20 = 109951162777600000000000000000000

# Comparism Operator

# <,>,<=,>=,==,!=

In [15]:
print (num1>num2)
print (num1>=num2)
print (num1<num2)
print (num1>=num2)
print (num1==num2)
print (num1!=num2)

True
True
False
True
False
True

# logical operators

# and , or , not

In [16]:
print (num1!=num2 and num2<num1)

True

In [18]:
print (num1!=num2 or num2>num1)

True

In [19]:
print (not num1)

False

# identity operators

# is , is not

In [20]:
print (num1 is num2)

False

In [21]:
print(num1 is not num2)

True

# Membership Operators
# in, not in

In [22]:
word = 'python'
print('p' in word)

True

In [24]:
print ('P' not in word)

True

# ade bought 50 pen at a cost of 50naira per pen if he sold a pen at the rate of 100naira write a program to calculate ade\'s profit

In [26]:
qty = 50
cost1 = 50
sp = 100
tcp = qty * cost1
sp = qty * sp
profit = sp - tcp
print (tcp)
print (sp)
print (f'The profit Ade made on 50 pen selling at the rate of 100 per pen is {profit}' )

2500
5000
The profit Ade made on 50pen selling at the rate of 100 per pen is 2500

# ASSIGNMENT 2

# Display number 458 in float using print()

In [2]:
num1 = 458 
print (float (num1))
print (int(num1))

458.0
458

# write a program to take three names as input from user

In [3]:
name1 = input('provide first name:')
name2 = input('provide middle name:')
name3 = input('provide last name:')
print(name1 + ' ' + name2 + ' ' + name3)

provide first name:muritala
provide middle name:wakeel
provide last name:yemi
muritala wakeel yemi

In [5]:
a = input('a:')
b = input('b:')
print('a=' + b)
print('b=' + a)

a:30
b:400
a=400
b=30