# iterable objects

# Tuple
# tuple is unchangeable
# tuple must be ordered
# Tuple is denoted with ( )
# we use index location to get a value from the tuple

In [4]:
 numbers = (45,23,20,30,45,90,58,65,60,78,92,45,86)

In [5]:
print(type(numbers))

<class 'tuple'>

In [6]:
print(len(numbers))

13

In [19]:
print(numbers[6])

58

In [20]:
print(numbers[-7])

58

In [21]:
print(numbers[4:9]) # list inside a tuple, numbers from index 4 to 9

(45, 90, 58, 65, 60)

In [7]:
print(numbers.count(90))

1

In [8]:
print(numbers.count(45))

3

In [24]:
print(400 in numbers)

False

In [25]:
print(numbers.index(90))

5

In [26]:
print (numbers.index(78))

9

In [27]:
print (numbers.index(45,1,5))

4

# list
# list is changeable
# list can be ordered or unordered
# list is denoted with []
# we use index location to get a value from the list

In [28]:
fruits = ['apple','mango','cherry','banana','coconut']

In [29]:
fruits.append('strawberry') #APPEND WILL ADD THE NEW VALUE AT THE END OF THE LIST
print(fruits)

['apple', 'mango', 'cherry', 'banana', 'coconut', 'strawberry']

In [30]:
store = ['pawpaw','apple','lemon','grape','peer']
fruits.extend(store) #extend will move the value from a list to another list
print(fruits)

['apple', 'mango', 'cherry', 'banana', 'coconut', 'strawberry', 'pawpaw', 'apple', 'lemon', 'grape', 'peer']

In [31]:
fruits.insert(5,'pear') # insert wil add the new value to the specified location in the list
print(fruits)

['apple', 'mango', 'cherry', 'banana', 'coconut', 'pear', 'strawberry', 'pawpaw', 'apple', 'lemon', 'grape', 'peer']

In [32]:
fruits.pop(5)

'pear'

In [33]:
fruits.remove('mango')
print (fruits)

['apple', 'cherry', 'banana', 'coconut', 'strawberry', 'pawpaw', 'apple', 'lemon', 'grape', 'peer']

In [34]:
fruits.remove ('coconut')
print(fruits)

['apple', 'cherry', 'banana', 'strawberry', 'pawpaw', 'apple', 'lemon', 'grape', 'peer']

In [35]:
fruits2 = fruits.copy()

In [36]:
print(fruits2)

['apple', 'cherry', 'banana', 'strawberry', 'pawpaw', 'apple', 'lemon', 'grape', 'peer']

In [37]:
fruits2.clear()
print(fruits2)

[]

In [38]:
fruits.sort()
print(fruits)

['apple', 'apple', 'banana', 'cherry', 'grape', 'lemon', 'pawpaw', 'peer', 'strawberry']

In [39]:
fruits.reverse()
print(fruits)

['strawberry', 'peer', 'pawpaw', 'lemon', 'grape', 'cherry', 'banana', 'apple', 'apple']

In [40]:
del(fruits2)
print(fruits2)

NameError: name 'fruits2' is not defined

# Dictionary
# Dictionary is changeable
# Dictionary can be ordered or unorderedÂ¶
# Dictionary is denoted with {}
# we use the key to get a value from the Dictionary

In [40]:
details ={
    'Name':'wakeel',
    'Age': 20,
    'Gender': 'Male',
    'Height':1.78,
    'weight': 75
}

In [41]:
print(details['Age'])

20

In [42]:
details.keys()

dict_keys(['Name', 'Age', 'Gender', 'Height', 'weight'])

In [43]:
details.values()

dict_values(['wakeel', 20, 'Male', 1.78, 75])

In [51]:
details.items()

dict_items([('Name', 'wakeel'), ('Age', 20), ('Gender', 'Male'), ('Height', 1.78), ('weight', 75)])

In [52]:
record={
    'Name':['Ade','Ojo','James','Jane'],
    'Age': [45,50,28,38]
}

In [53]:
print(record['Name'][2])

James

In [54]:
print(record['Name'][3])

Jane

In [1]:
capitals= {'USA': 'Washignton','NIGERIA':'abuja','FRANCE':'paris'}
print(capitals['USA'])

Washignton

In [2]:
print(capitals['NIGERIA'])

abuja

In [3]:
capitals = {"USA":"Washington DC", "France":"Paris", "Japan":"Tokyo", "India":"New Delhi"}
capitals.get('USA')

'Washington DC'

In [7]:
capitals.get('Japan')

'Tokyo'

In [9]:
 captains = {"England":"Root", "Australia":"Smith", "India":"Dhoni"} # As mentioned earlier, the key cannot appear more than once. Use the same key and assign a new value to it to update the dictionary object.
 captains['India'] = 'Virat'
 captains['Australia'] = 'Paine'
 print(captains)

{'England': 'Root', 'Australia': 'Paine', 'India': 'Virat'}

In [ ]:
# Use a new key and assign a value to it. The dictionary will show an additional key-value pair in it.

In [10]:
captains['SouthAfrica']='Plessis'
print(captains)

{'England': 'Root', 'Australia': 'Paine', 'India': 'Virat', 'SouthAfrica': 'Plessis'}

In [11]:
# Use the del keyword, pop(), or popitem() methods to delete a pair from a dictionary or the dictionary object itself.
# To delete a pair, use its key as a parameter. 
# To delete a dictionary object, use its name.

In [21]:
captains = {'England': 'Root', 'Australia': 'Paine', 'India': 'Virat', 'Srilanka': 'Jayasurya'}
del captains['Srilanka']  # deletes a key-value pair
print(captains)

{'England': 'Root', 'Australia': 'Paine', 'India': 'Virat'}

In [20]:
del captains['Australia'] 
print(captains)

{'England': 'Root', 'India': 'Virat'}

In [44]:
d1 = {'name': 'Steve', 'age': 21, 'marks': 60, 'course': 'Computer Engg'} # The keys() and values() methods return a view objects containing keys and values respectively.
d1.keys()

dict_keys(['name', 'age', 'marks', 'course'])

In [45]:
d1.values()

dict_values(['Steve', 21, 60, 'Computer Engg'])

In [47]:
# You can check whether a paritular key exists in a dictionary collection or not usng the in or not in keywords, as shown below. Note that it only checks for keys not values.
captains = {'England': 'Root', 'Australia': 'Paine', 'India': 'Virat', 'Srilanka': 'Jayasurya'}
print('Australia' in captains)

True

In [48]:
print('India' not in captains)

False

In [49]:
d1={"name":"Steve","age":25, "marks":60}
d2={"name":"Anil","age":23, "marks":75}
d3={"name":"Asha", "age":20, "marks":70}
students = {1:d1,2:d2,3:d3}
print(students)

{1: {'name': 'Steve', 'age': 25, 'marks': 60}, 2: {'name': 'Anil', 'age': 23, 'marks': 75}, 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

In [53]:
print(students[1])

{'name': 'Steve', 'age': 25, 'marks': 60}

In [55]:
print(students[1] , students[3])

{'name': 'Steve', 'age': 25, 'marks': 60} {'name': 'Asha', 'age': 20, 'marks': 70}

In [ ]:
# Built-in Dictionary Methods
Method	         Description
dict.clear()     # Removes all the key-value pairs from the dictionary.
dict.copy()      # Returns a shallow copy of the dictionary.
dict.fromkeys()  #Creates a new dictionary from the given iterable (string, list, set, tuple) as keys and with the specified value.
dict.get()       # Returns the value of the specified key.
dict.items()     # Returns a dictionary view object that provides a dynamic view of dictionary elements as a list of key-value pairs. This view object changes when the dictionary changes.
dict.keys()      # Returns a dictionary view object that contains the list of keys of the dictionary.
dict.pop()       # Removes the key and return its value. If a key does not exist in the dictionary, then returns the default value if specified, else throws a KeyError.
dict.popitem()   # Removes and return a tuple of (key, value) pair from the dictionary. Pairs are returned in Last In First Out (LIFO) order.
dict.setdefault() # Returns the value of the specified key in the dictionary. If the key not found, then it adds the key with the specified defaultvalue. If the defaultvalue is not specified then it set None value.
dict.update()    # Updates the dictionary with the key-value pairs from another dictionary or another iterable such as tuple having key-value pairs.
dict.values()    # Returns the dictionary view object that provides a dynamic view of all the values in the dictionary. This view object changes when the dictionary changes.